/* ============================================= */
/*         Style made by Luan Himmlisch          */
/* Apache 2.0 License | https://himmlisch.com.mx */
/* ============================================= */

/* Theme of the site */
@import url("./base.css");
:root{
    --primaryLight: #9adbfe;
    --primary: #4fc9b1;
    --primaryDark: var(--blue-500);
    --primaryText: ;
    --primaryHeader: ;
    --primaryAccent: ;

    --secondaryLight: hsl(60, 47%, 74%);
    --secondary: #ffd900;
    --secondaryDark: #ccad00;
    --secondaryText: ;
    --secondaryHeader: ;
    --secondaryAccent: ;

    --defaultBackgroundLight: hsl(0, 0%, 16%);
    --defaultBackground: hsl(0, 0%, 12%);
    --defaultBackgroundDark: hsl(0, 0%, 10%);
    --defaultHeader: #ffffff;
    --defaultText: #D4D4D4;
}